* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #dddcdb;
  font-family: '맑은고딕', 'Malgn Gothic', '돋움', Dotum, sans-serif;
  font-size: 11px;
}
img {
  border: 0;
}
#header {
  background-color: #fff;
}
#tnb {
  height: 30px;
  border: 1px solid #99bad7;
}
#tnb .tnb_inner {
  width: 996px;
  margin: 0 auto;
  position: relative;
}
#tnb .tnb_inner .nav ul .Ikon {
  background-image: url("http://www.paris.co.kr/images/tnb/globalLoginBg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 7px 16px;
}
#tnb .tnb_inner .nav ul .Ikon a {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}
#tnb .tnb_inner .nav ul li {
  float: left;
  padding: 7px 0 0 7px;
}
#tnb .tnb_inner .nav ul li a {
  font-size: 11px;
  color: #005199;
  vertical-align: middle;
}
#tnb .tnb_inner .infoBox {
  position: absolute;
  top: 0;
  right: 0;
}
#tnb .tnb_inner .infoBox div {
  float: left;
  width: 69px;
  height: 45px;
  padding-bottom: 50px;
}
#tnb .tnb_inner .infoBox div a {
  font-size: 0;
  text-indent: -9999px;
}
#tnb .tnb_inner .infoBox .store {
  background-image: url("http://www.paris.co.kr/images/tnb/bgStoreB.png");
  background-repeat: no-repeat;
  background-position: 50% 5px;
}
#tnb .tnb_inner .infoBox .coupon {
  background-image: url("http://www.paris.co.kr/images/tnb/bgCoupnB.png");
  background-repeat: no-repeat;
  background-position: 50% 5px;
}
#tnb .tnb_inner .infoBox .point {
  background-image: url("http://www.paris.co.kr/images/tnb/bgPointB.png");
  background-repeat: no-repeat;
  background-position: 50% 5px;
}
#lnb {
  height: 69px;
}
#lnb .lnb_inner {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}
#lnb .lnb_inner .logo {
  padding-top: 9px;
  text-align: center;
}
#lnb .lnb_inner .logo img {
  vertical-align: middle;
}
#lnb .lnb_inner form fieldset {
  border: 0;
}
#lnb .lnb_inner form #global_search {
  position: absolute;
  top: 20px;
  left: 50%;
  background-color: #f5f5f5;
  margin-left: -49.1%;
  border-radius: 12px;
  padding: 0 10px;
}
#lnb .lnb_inner form #global_search legend {
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -9999px;
}
#lnb .lnb_inner form #global_search input {
  background: transparent;
  border: 0;
  padding-top: 6px;
  width: 210px;
  color: #656464;
  display: inline-block;
}
#lnb .lnb_inner form #global_search button {
  border: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 20px;
  padding: 5px;
  background: transparent;
  background-image: url("http://www.paris.co.kr/images/common/btnGlobalSearch2.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#gnb a {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: '맑은고딕';
}
#gnb .depth1 li.on > a {
  background: #003768;
  color: #fff;
}
#gnb {
  background-color: #015299;
  height: 40px;
  width: 100%;
}
#gnb .gnb_inner {
  width: 996px;
  margin: 0 auto;
}
#gnb .gnb_inner .depth1 {
  position: relative;
  max-width: 996px;
  height: 39px;
  width: 100%;
}
#gnb .gnb_inner .depth1 .depth1_inner {
  float: left;
  width: 16.6%;
  height: 39px;
  text-align: center;
}
#gnb .gnb_inner .depth1 .depth1_inner:hover {
  background: #003768;
}
#gnb .gnb_inner .depth1 .depth1_inner .depth1_title {
  display: block;
  height: 39px;
  line-height: 39px;
}
#gnb .gnb_inner .depth1 .depth1_inner .depth1_title span {
  font-weight: bold;
  color: #fff;
}
#gnb .gnb_inner .depth1 .depth1_inner .gnb_inner_wrap {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #f5f5f5;
  z-index: 100;
  border-bottom: 1px solid #BBBBBB;
  width: 100%;
}
#gnb .gnb_inner .depth1 .depth1_inner .gnb_inner_wrap .depth2 {
  margin-left: 0;
}
#gnb .gnb_inner .depth1 .depth1_inner .gnb_inner_wrap .depth2 li {
  float: left;
}
#gnb .gnb_inner .depth1 .depth1_inner .gnb_inner_wrap .depth2 li a {
  display: block;
  height: auto;
  padding: 15px 20px 13px 20px;
  color: #949494;
}
#gnb .gnb_inner .depth1 .depth1_inner .gnb_inner_wrap .depth2 li a:hover {
  color: #005199;
  background-image: url("https://www.paris.co.kr/images/tnb/bulGnbActiveB.gif");
  background-repeat: no-repeat;
  background-position: 95% 55%;
}
#gnb .gnb_inner .depth1 .depth1_inner .gnb_inner_wrap .depth2 li a span {
  font-family: 'Dotum';
  font-size: 12px;
}
.top_content {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 996px;
  background-color: #dddcdb;
}
.top_content .left_slide {
  max-width: 645px;
  position: relative;
  width: 65%;
  float: left;
  margin-right: 10px;
}
.top_content .left_slide .introWrap {
  position: relative;
  width: 100%;
  height: 266px;
  overflow: hidden;
  max-width: 645px;
  margin-right: 10px;
  margin-top: 11px;
}
.top_content .left_slide .introWrap .intro {
  position: relative;
  height: 264px;
  width: 100%;
  border: 1px solid #c9c9c9;
  background-color: #fff;
}
.top_content .left_slide .introWrap .intro div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  max-width: 660px;
}
.top_content .left_slide .introWrap .intro div a {
  display: block;
  width: 100%;
  height: 100%;
}
.top_content .left_slide .introWrap .intro div a img {
  width: 100%;
  height: 100%;
}
.top_content .left_slide .introWrap .intro .btnIntroLeft {
  position: absolute;
  top: 50%;
  margin-top: -2%;
  left: 15px;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  font-size: 0;
  background-image: url("http://www.paris.co.kr/images/main/btnIntroLeft_mod.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.top_content .left_slide .introWrap .intro .btnIntroRight {
  position: absolute;
  top: 50%;
  margin-top: -2%;
  right: 15px;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  font-size: 0;
  background-image: url("http://www.paris.co.kr/images/main/btnIntroRight_mod.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.top_content .left_slide .introWrap .pager {
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -10%;
  padding: 5px;
}
.top_content .left_slide .introWrap .pager .active {
  width: 38px;
  background-image: url("http://www.paris.co.kr/images/main/btnIntroPagerActive.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.top_content .left_slide .introWrap .pager a {
  display: block;
  float: left;
  margin: 0 2px;
  width: 12px;
  height: 13px;
  font-size: 0;
  background-image: url("http://www.paris.co.kr/images/main/btnIntroPager.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.top_content .left_slide .quickMenu {
  position: relative;
  width: 100%;
  width: 645px;
  height: 102px;
  background-color: #fff;
  top: 10px;
  margin-bottom: 10px;
}
.top_content .left_slide .quickMenu .quickBox {
  width: 100%;
  height: 100px;
  border: 1px solid #c9c9c9;
}
.top_content .left_slide .quickMenu .quickBox .quickBox_Ikon {
  height: 53px;
  padding-top: 40px;
  width: 100%;
}
.top_content .left_slide .quickMenu .quickBox .quickBox_Ikon ul li {
  float: left;
  padding: 0 2.3%;
  border-right: 1px solid #e5e5e5;
}
.top_content .left_slide .quickMenu .quickBox .quickBox_Ikon ul .last {
  border: 0;
  padding: 0 2.8%;
}
.top_content .right_facebook {
  position: relative;
  max-width: 339px;
  width: 35%;
  height: 378px;
  float: left;
  margin-top: 11px;
  border: 1px #f00 solid;
  background-color: #fff;
}
.menu_title {
  position: absolute;
  left: 13px;
  top: 13px;
  display: inline-block;
  z-index: 3;
}
.middle_content {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 996px;
  margin-top: 10px;
}
.middle_content .pb_product {
  width: 51%;
  max-width: 506px;
  height: 300px;
  float: left;
  background-color: #fff;
  border-bottom: 1px #f00 solid;
  border-top: 1px #f00 solid;
}
.middle_content .pb_Wrap {
  width: 51%;
  max-width: 234px;
  height: 300px;
  float: left;
  margin-left: 10px;
  border-bottom: 1px #f00 solid;
  border-top: 1px #f00 solid;
}
.middle_content .pb_Wrap .pbSpecial {
  width: 233px;
  height: 140px;
  border: 1px solid #c9c9c9;
  position: relative;
}
.middle_content .pb_Wrap .pbSpecial .specialWrap {
  width: 100%;
  max-width: 235px;
  height: 140px;
  background-color: #fff;
}
.middle_content .pb_Wrap .pbSpecial .specialWrap img {
  height: 100%;
  position: relative;
  z-index: 2;
}
.middle_content .pb_Wrap .EventBg {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}
.middle_content .pb_Wrap .pbNews {
  width: 233px;
  height: 146px;
  border: 1px solid #c9c9c9;
  position: relative;
  margin-top: 10px;
  background-color: #fff;
}
.middle_content .pb_Wrap .pbNews .newsWrap ol {
  padding: 22px 0 0 12px;
  margin-top: 16px;
}
.middle_content .pb_Wrap .pbNews .newsWrap ol li {
  padding: 3px 0;
}
.middle_content .pb_Wrap .pbNews .newsWrap ol li a {
  font-size: 11px;
  color: #64625f;
}
.middle_content .pb_Wrap .pbNews .more {
  font-size: 0;
  text-indent: -9999px;
  position: absolute;
  top: 8px;
  right: 9px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("https://www.paris.co.kr/images/main/btnMore.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.middle_content .pb_Wrap .pbDeliveryEshop {
  width: 233px;
  height: 140px;
  border: 1px solid #c9c9c9;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.middle_content .pb_Wrap .pbDeliveryEshop .deliveryWrap {
  width: 100%;
  max-width: 235px;
  height: 140px;
  background-color: #fff;
}
.middle_content .pb_Wrap .pbDeliveryEshop .deliveryWrap img {
  height: 100%;
  position: relative;
  z-index: 2;
}
.middle_content .pb_Wrap .pbFran {
  width: 233px;
  height: 146px;
  border: 1px solid #c9c9c9;
  position: relative;
  margin-top: 10px;
  background-color: #fff;
}
.middle_content .pb_Wrap .pbFran .franWrap {
  width: 100%;
}
.middle_content .pb_Wrap .pbFran .franWrap a {
  display: inline-block;
}
.middle_content .pb_Wrap .pbFran .franWrap a img {
  position: absolute;
  top: 0;
  left: 0;
}
.middle_content .pb_Wrap .pbFran .guidePager {
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  text-align: center;
}
.middle_content .pb_Wrap .pbFran .guidePager a {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 18px;
  margin: 0 2px;
  text-indent: -9999px;
  font-size: 0;
  background-color: #a9a8a6;
}
.middle_content .pb_Wrap .pbFran .guidePager .active {
  background-color: #00519a;
}
.middle_content:after {
  display: block;
  clear: both;
  content: "";
}
#footer {
  position: relative;
  max-width: 996px;
  height: 60px;
  margin: 0px auto;
  margin-top: 30px;
  background-color: #fff;
  background-image: url("https://www.paris.co.kr/images/common/icoFootLogo.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#footer .brandSite {
  float: left;
  position: relative;
  border-right: 3px solid #dddcdb;
}
#footer .brandSite .trigger {
  background-image: url("https://www.paris.co.kr/images/common/btnBrandSite.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#footer .brandSite .bread_list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
}
#footer .brandSite .bread_list ul {
  margin: 0 10px;
  padding-bottom: 10px;
  z-index: 100;
}
#footer .brandSite .bread_list ul li {
  padding: 0 0 3px;
  line-height: 17px;
}
#footer .brandSite .bread_list ul li strong {
  display: block;
  padding: 10px 0;
  font-size: 13px;
  color: #fff;
  border-top: 1px solid #535252;
}
#footer .brandSite .bread_list ul li a {
  display: block;
  padding: 1px 10px;
  margin: 0 -10px;
  color: #969696;
  font-size: 13px;
}
#footer .brandSite .bread_list ul li a:hover {
  color: #fda601;
  background-color: #000;
  background-image: url("https://www.paris.co.kr/images/common/bgSiteLinks.gif");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
#footer .recruitInfo {
  float: right;
  border-left: 3px solid #dddcdb;
}
#footer .recruitInfo .trigger {
  background-image: url("https://www.paris.co.kr/images/common/btnRecruitInfo.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#footer .recruitInfo .recruit_list {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  padding-top: 10px;
}
#footer .recruitInfo .recruit_list ul {
  margin: 0 10px;
  padding-bottom: 10px;
  z-index: 4;
}
#footer .recruitInfo .recruit_list ul li {
  padding: 0 0 3px;
  line-height: 17px;
}
#footer .recruitInfo .recruit_list ul li a {
  display: block;
  padding: 1px 10px;
  margin: 0 -10px;
  color: #969696;
  font-size: 13px;
}
#footer .recruitInfo .recruit_list ul li a:hover {
  color: #fda601;
  background-color: #000;
  background-image: url("https://www.paris.co.kr/images/common/bgSiteLinks.gif");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
#footer .price_list {
  position: absolute;
  top: 0;
  right: 170px;
}
#footer .price_list ul li {
  float: left;
  padding: 18px 0 0 15px;
}
#footer .footer_inner a {
  display: block;
  position: absolute;
  top: 15px;
  left: 174px;
  width: 162px;
  height: 30px;
}
#footer .footer_inner a img {
  vertical-align: middle;
}
#footer .trigger {
  display: block;
  width: 150px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
}
#footer .layer {
  display: none;
  background-color: #2a2a2a;
  z-index: 5;
}
#footer .btnClose {
  display: block;
  height: 60px;
  border-top: 1px solid #535252;
  text-indent: -9999px;
  font-size: 0;
  background-image: url("https://www.paris.co.kr/images/common/btnSiteLinkClose.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer_nav {
  position: relative;
  max-width: 996px;
  margin: 0px auto;
  padding: 15px 0;
}
.footer_nav ul {
  text-align: center;
}
.footer_nav ul .last {
  background-image: none;
}
.footer_nav ul li {
  display: inline-block;
  padding: 0 9px 0 4px;
  background-image: url("https://www.paris.co.kr/images/common/bgBnb.gif");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.footer_nav ul li a {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -1px;
  color: #64625f;
}
.footer_address {
  position: relative;
  max-width: 996px;
  margin: 0px auto;
  text-align: center;
  padding: 10px 0;
  background-color: #d7d4d0;
  margin-bottom: 100px;
}
.footer_address span {
  display: inline-block;
  color: #64625f;
  font-size: 13px;
}
.footer_address .address {
  margin-right: 40px;
}
.footer_address .col {
  display: block;
}
#contents {
  width: 996px;
  margin: 0 auto;
  padding-top: 40px;
  background-color: #fff;
}
#contents .line_map {
  font-size: 13px;
  margin: 0 33px;
  line-height: 50px;
}
#contents .tab_list {
  overflow: hidden;
}
#contents .tab_list ul {
  text-align: center;
  margin: 0 33px;
}
#contents .tab_list ul .on {
  background-color: #015299;
}
#contents .tab_list ul .on a {
  color: #fff;
}
#contents .tab_list ul li {
  float: left;
  line-height: 30px;
  margin-right: 7px;
  margin-bottom: 7px;
  width: 178px;
  background-color: #e5e5e5;
}
#contents .tab_list ul li a {
  display: block;
  font-size: 12px;
  color: #999;
}
#contents .tab_list ul:after {
  display: block;
  content: "";
  clear: both;
}
#contents .best_ribbon {
  position: relative;
  text-align: center;
  margin-top: 20px;
  height: 70px;
  width: 100%;
  border: 1px #f00 solid;
  font-size: 0;
}
#contents .best_ribbon .ribbon_left {
  display: inline-block;
  text-align: center;
  width: 46px;
  height: 50px;
  background-image: url("https://www.paris.co.kr/images/product/best_ribbon.gif");
  background-repeat: no-repeat;
  background-position: 0;
}
#contents .best_ribbon .ribbon_name {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: #015299;
  padding-bottom: 8px;
  width: auto;
  max-width: 450px;
  line-height: 40px;
  height: 33px;
  vertical-align: top;
  border: 1px #f00 solid;
}
#contents .best_ribbon .ribbon_right {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 46px;
  height: 50px;
  background-image: url("https://www.paris.co.kr/images/product/best_ribbon.gif");
  background-repeat: no-repeat;
  background-position: -268px 0;
}
.page_Header {
  font-size: 0;
}
#productList {
  padding: 0 30px;
  width: 936px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 20px;
}
#productList .productList_inner {
  border: 1px #f00 solid;
  text-align: center;
}
#productList .productList_inner .product {
  width: 228px;
  height: 310px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 2px;
}
#productList .productList_inner .product a {
  display: block;
  width: 100%;
  text-align: center;
}
#productList .productList_inner .product a .view {
  position: absolute;
  top: 195px;
  right: 10px;
  display: block;
}
#productList .productList_inner .product a .product_Img {
  display: block;
  width: 226px;
  height: 226px;
  border: 1px #ccc solid;
}
#productList .productList_inner .product a .product_Img img {
  width: 182px;
  height: 182px;
  padding: 20px;
}
#productList .productList_inner .product a dl {
  display: block;
  width: 90%;
  margin: 0 5%;
  text-align: center;
}
#productList .productList_inner .product a dt {
  font-size: 14px;
  font-weight: bold;
  color: #494745;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0;
}
#productList .productList_inner .product a dd {
  font-size: 12px;
  line-height: 16px;
  color: #64625f;
  letter-spacing: -1px;
}
#productList_part2 {
  padding: 0 35px;
  width: 926px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 20px;
}
#productList_part2 .productList_part2_inner {
  border-top: 2px solid #015299;
}
#productList_part2 .productList_part2_inner .product {
  width: 50%;
  height: 186px;
  padding-top: 30px;
  border-bottom: 1px dashed #ccc;
  position: relative;
  float: left;
}
#productList_part2 .productList_part2_inner .product a {
  display: block;
  width: 100%;
  height: 100%;
}
#productList_part2 .productList_part2_inner .product a .product_Img {
  display: block;
  width: 155px;
  height: 155px;
  border: 1px #ccc solid;
}
#productList_part2 .productList_part2_inner .product a .product_Img img {
  width: 155px;
  height: 155px;
}
#productList_part2 .productList_part2_inner .product a .detail {
  position: absolute;
  top: 160px;
  left: 164px;
  padding: 0 5%;
}
#productList_part2 .productList_part2_inner .product a dl {
  position: absolute;
  top: 30px;
  left: 164px;
  padding: 0 5%;
}
#productList_part2 .productList_part2_inner .product a dl dt {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #494745;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#productList_part2 .productList_part2_inner .product a dl dd {
  font-size: 12px;
  line-height: 16px;
  color: #64625f;
  letter-spacing: -1px;
}
#productList_part2 .productList_part2_inner:after {
  display: block;
  content: "";
  clear: both;
}
#store .tab_title {
  width: 930px;
  border-bottom: 1px #015299 solid;
  margin: 12px 0 13px 34px;
  padding-bottom: 10px;
}
#store .storeSearch {
  width: 930px;
  margin-top: 30px;
  padding: 15px 0 20px 0;
  margin: 0 auto;
  background-color: #f2f1ef;
  border: 1px #f00 solid;
}
#store .storeSearch .map_content {
  width: 245px;
  float: left;
  border: 1px #f00 solid;
  margin-left: 126px;
  margin-right: 80px;
}
#store .storeSearch .map_select {
  float: left;
  margin-top: 115px;
  border: 1px #f00 solid;
}
#store .storeSearch .map_select p {
  padding-bottom: 10px;
}
#store .storeSearch .map_select div {
  display: inline-block;
}
#store .storeSearch .map_select .kind_select {
  width: 181px;
  height: 17px;
  padding: 8px 7px 8px 7px;
  border: 1px solid #cccccc;
  background-color: #fff;
}
#store .storeSearch .map_select .select_text {
  width: 181px;
  height: 17px;
  line-height: 17px;
  border: 1px #f00 solid;
  cursor: pointer;
  background-image: url("http://www.paris.co.kr/images/common/bgSelect.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
#store .storeSearch .map_select select {
  display: none;
}
#store .storeSearch .map_select #keyword {
  display: block;
  width: 378px;
  padding: 9px;
  height: 15px;
  margin: 10px 0;
  border: 1px solid #cccccc;
}
#store .storeSearch .map_select button {
  border: 0;
  font-size: 0;
  text-indent: -9999px;
  width: 90px;
  height: 35px;
  cursor: pointer;
  vertical-align: top;
  background-image: url("http://www.paris.co.kr/images/store/btn_store_search.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
}
#store .storeSearch:after {
  clear: both;
  display: block;
  content: "";
}
