#store {
    
    .tab_title {
        width: 930px;
        border-bottom:1px #015299 solid;
        margin: 12px 0 13px 34px;
        padding-bottom: 10px;
    }
    
    .storeSearch {
        width: 930px;
        margin-top: 30px;
        padding: 15px 0 20px 0;
        margin: 0 auto;
        background-color: #f2f1ef;
        border:1px #f00 solid;
        
        .map_content {
            width: 245px;
            float: left;
            border:1px #f00 solid;
            margin-left:126px;
            margin-right: 80px;
        }
        
        .map_select {
            float: left;
            margin-top: 115px;
            border:1px #f00 solid;
            
            p {
                padding-bottom: 10px;
            }
            
            div {
                display: inline-block;
            }
            
            .kind_select {
                width: 181px;
                height: 17px;
                padding: 8px 7px 8px 7px;
                border:1px solid #cccccc;
                background-color: #fff;
            }
            
            .select_text {
                width: 181px;
                height: 17px;
                line-height: 17px;
                border:1px #f00 solid;
                cursor: pointer;
                .background(url("http://www.paris.co.kr/images/common/bgSelect.png"),no-repeat,90% 50%);
            }
            
            select {display: none;}
            
            #keyword {
                display: block;
                width: 378px;
                padding: 9px;
                height: 15px;
                margin: 10px 0;
                border:1px solid #cccccc;
            }
            
            button {
                border:0;
                font-size: 0;
                text-indent: -9999px;
                width: 90px;
                height: 35px;
                cursor: pointer;
                vertical-align: top;
                .background(url("http://www.paris.co.kr/images/store/btn_store_search.gif"),no-repeat,0 0);
            }
        }
    }
    
    .storeSearch:after {
        clear: both;
        display: block;
        content: "";
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}